/* Import de fontes */

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf)
    format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Unbounded"; /* mais um metodo de inserir a fonte dentro do projeto */
    src: url("../fonts/Unbounded-Bold.ttf")
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* 
 Usamos a anotation @font-face
 Seguida de font-family: "nomeDaFonte"
 src: url("caminhoParaImportar")
 format("defineAparenciaVisual")
 weight == largura
 font-display para acaso demora, cai fallback e volta para fonte original.

*/


* {
    margin: 0;
    padding: 0;
}

body{
    background-color:#0E1014;
    color: #FFFFFF;
}

/* Outras formas de realizar, a estelizicao, primeiro temos como colocar tags seguidas para realizar o mesmo processo ou criar classes, como ( .cor-branca ). Neste projeto optamos por colocar no body.


h1, p, a{
    color: #FFFFFF;
}

.cor-branca{
    color: #FFFFFF;

}

*/

h1 span {
    color:#9747FF;
}

h1{
    font-size: 85px;
    font-family:"Unbounded", sans-serif;
}


a{
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    text-decoration:none;
}

p{
    font-family: "Poppins", sans-serif;
    font-size: 32px;
}
