h1{
    font-size: 40px; 
    color: green; font-family: sans-serif; letter-spacing: 8px;
}

p{
    font-size: 25px; 
    font-family: 'Courier New', Courier, monospace; color: rgb(12, 105, 105); 
    line-height: 50px
}